:root {
    --color-light: white;
    --color-dark: rgb(31, 31, 31);
    --color-primary: #8ed081ff;
    --color-primary-contrast: var(--color-dark);
    --color-secondary: #b4d2baff;
    --color-secondary-contrast: var(--color-dark);
    --color-tertiary: #b57f50ff;
    --color-tertiary-contrast: var(--color-white);
    --color-danger: rgb(245, 69, 69);
    --color-danger-contrast: var(--color-white);
    --color-gray: rgb(125, 125, 125);
    --color-gray-contrast: var(--color-white);
}

.danger {
    color: var(--color-danger);
}

.gray {
    color: var(--color-gray);
}