:host {
    padding: 10px;
}

.reminders-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    cursor: pointer;
  }
}

.reminders {
    display: grid;
    gap: 10px;
    height: 100%;
    overflow: auto;
    grid-template-rows: min-content;

    .reminder {
        display: grid;
        column-gap: 5px;
        grid-template-columns: minmax(24px, auto) 1fr minmax(min-content, auto);
        grid-template-rows: min-content min-content;

        .actions {
            >* {
                cursor: pointer;
                transform: scale(.8);
            }
        }

        .description {
            grid-column: 2;
            grid-row: 2;
            font-size: 12px;
        }
    }
}
